// Place SASS variable overrides here
// $font-size-root: 40px;
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;600&family=Bebas+Neue&family=Poppins:wght@600&display=swap");

$font-family:'Poppins';
$font-size: 300px;
$color: #e8ede0;
.v-app-bar{color:#0D1B29;}
.v-card{
  background-color: transparent;
}

.v-text-field {
  color: #ffffff;
  font-family: $font-family, sans-serif !important;
}
.font-Bebas{
  font-size: 48px;
  font-family: "Bebas Neue", cursive;
  color: #f5cb5c;
  justify-content: center;
}
.font-Archivo{
  color: #ffffff;
  font-family: "Archivo", sans-serif;
  justify-content: center;
}
